In [1]:
# numpy is a a standard python library that contains many helpful functions for doing basic mathematical operations.
# For more information, check the documentation at https://numpy.org/doc/stable/
import numpy as np
import random
import matplotlib.pyplot as plt
import math
import scipy.stats as st
import pandas as pd

df = pd.read_csv("Lab2TempData.csv")

In [3]:
df.head()

,Time (s) Run #1,Temperature (°C) Run #1,Time (s) Run #2,Temperature (°C) Run #2,Time (s) Run #3,Temperature (°C) Run #3,Time (s) Run #4,Temperature (°C) Run #4
0,0.0,22.9,0.0,23.6,0.0,24.1,0.0,28.5
1,5.0,22.9,5.0,23.6,5.0,24.1,5.0,28.4
2,10.0,22.9,10.0,23.6,10.0,24.1,10.0,28.4
3,15.0,22.9,15.0,23.6,15.0,24.1,15.0,28.4
4,20.0,22.9,20.0,23.6,20.0,24.1,20.0,28.3